@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
body
{
    font-family: 'Roboto', sans-serif;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.justify-around
{
    justify-content: space-around;
}
.justify-between
{
    justify-content: space-between;
}
.font-title
{
    font-size: 40px; 
    color: #6614E1;
}
.font-subtitle
{
    font-size: 25px;
}
.font-paragraph
{
    font-size: 18px;
}
.w-100
{
    width: 100%;
}
.text-center
{
    text-align: center;
}
.flex-column
{
    flex-direction: column;
}
.font-bold
{
    font-weight: 900;
}
.self-center
{
    align-self: center;
}
.margin-b-5
{
    margin-bottom: 15px;
}
.pill-border
{
    border-radius: 16px;
}