.header
{
    -webkit-box-shadow: 0px 27px 41px -26px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 27px 41px -26px rgba(0,0,0,0.75);
    box-shadow: 0px 27px 41px -26px rgba(0,0,0,0.75);
    width: 100%;
}
.login-seccion
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1080%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c217 C 57.6%2c192.2 172.8%2c83.8 288%2c93 C 403.2%2c102.2 460.8%2c264.2 576%2c263 C 691.2%2c261.8 748.8%2c99.8 864%2c87 C 979.2%2c74.2 1036.8%2c209.2 1152%2c199 C 1267.2%2c188.8 1382.4%2c68.6 1440%2c36L1440 560L0 560z' fill='rgba(220%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c492 C 57.6%2c459.4 172.8%2c328.4 288%2c329 C 403.2%2c329.6 460.8%2c481.8 576%2c495 C 691.2%2c508.2 748.8%2c392.2 864%2c395 C 979.2%2c397.8 1036.8%2c515.4 1152%2c509 C 1267.2%2c502.6 1382.4%2c392.2 1440%2c363L1440 560L0 560z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1080'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: contain;
}
.logo
{
    width: 25%;
}
.nav-ul li
{
    padding: 0 20px;
    cursor: pointer;
}
.nav-ul li:nth-child(1), .nav-ul li:nth-child(2)
{
    border-right: 3px solid #14DBE1;
}
.img-cta
{
    width: 40%;
}
.card
{
    width: 23%;
}
.card img
{
    width: 100%;
}
.redes img{
    width: 15%;
}
form
{
    width: 55%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 11px 8px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 11px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 11px 8px 0px rgba(0,0,0,0.1);
    padding: 10px 15px;
}
form input
{
    align-self: center;
    width: 80%;
    color: #440D96;
    border: 1px solid transparent;
    box-shadow: 0px 11px 8px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 11px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 11px 8px 0px rgba(0,0,0,0.1);
    padding: 10px 15px;
}
form img
{
    width: 30%;
}
form p
{
    font-weight: 900;
    color: #270A5C;
}
section
{
    margin-top: 100px;
}
section h2
{
    width: 45%;
    margin-bottom: 50px;
}
.sobre-texto
{
    width: 40%;
}
.sobre-texto p
{
 margin-top: 30px;   
}
.active-option
{
    font-weight: bold;
    color: #6614E1;
    width:50%;
    text-align: center;
}
.inactive-option
{
    font-weight: bold;
    color: #6614E1;
    opacity: 0.5;
    width:50%;
    text-align: center;
}
.option span
{
    cursor: pointer;
}
.btn-iniciar
{
    width:90%;
    padding: 18px 15px;
    border-radius: 36px;
    background-color:#440D96;
    color: white;
    align-self: center;
    margin-top: 20px;
}
form a
{
    color: #6614E1;
    font-weight: bold;
    text-decoration: none;
}
.btn-crear
{
    width:100%;
    font-weight: bold;
    color: white;
    background-color:#6614E1;
    height: 50px;
}